@model IEnumerable<E_Spożywczak.Models.ProductInCart>

@{
    ViewData["Title"] = "Koszyk";
}

<div id="page">
    @if (TempData["msg_text"] != null && TempData["success_msg"] != null)
    {
        <div id="info_box" class="@((bool)TempData["success_msg"] ? "bg-success" : "bg-danger") p-3 mb-2 text-white">
            @TempData["msg_text"]
        </div>
    }
    <form method="post">
        <div id="cart_products">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.ImagePath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Product.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductAmount)
                        </th>
                        <th>
                            Opcje
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var productInCart in Model)
                    {
                        <tr>
                            <td>
                                @{
                                    string img_path = productInCart.Product.ImagePath == null ? "/image/no_image.jpg" : "/image/" + productInCart.Product.ImagePath;
                                }

                                <img src="@Url.Content(img_path)" style="max-height: 75px; max-width: 75px; height: auto; width: auto;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => productInCart.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => productInCart.Product.Price) zł
                            </td>
                            <td>
                                @{
                                    var min_val = 0.1;
                                    if (productInCart.Product.MeasureType == MeasureType.Piece)
                                        min_val = 1; 
                                    
                                    <input type="number" min="@min_val" max="@productInCart.Product.Availability" step="@min_val" id="cart_product_amount_box" name="productamount"
                                            value="@productInCart.ProductAmount" required="required">
                                }
                                @Html.DisplayFor(modelItem => productInCart.Product.MeasureType)
                            </td>
                            <td>
                                <a asp-action="DeleteFromCart" asp-route-id="@productInCart.Id" class="btn btn-danger">Usuń</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div id="cart_info">
            <div>
                Łącznie @ViewBag.TotalCartPrice.ToString("#.##") zł

            </div>
            <br />
            <hr />
            <div>
                <input type="submit" asp-controller="Order" asp-action="Index" class="btn btn-success" value="Realizacja zamówienia" />
            </div>
        </div>

        <div id="float_clear"></div>
    </form>
</div>

<script>
    setTimeout(function () {
        $('#info_box').fadeOut('slow');
    }, @TempData["msg_time"]);
</script>