@model E_Spożywczak.Models.Cart

@{
    ViewData["Title"] = "Zamówienie";
}

<div id="page">
    @if (TempData["msg_text"] != null && TempData["success_msg"] != null)
    {
        <div id="info_box" class="@((bool)TempData["success_msg"] ? "bg-success" : "bg-danger") p-3 mb-2 text-white">
            @TempData["msg_text"]
        </div>
    }
    <form method="post">
        <div id="order_products">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductsInCart[0].Product.ImagePath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductsInCart[0].Product.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductsInCart[0].Product.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductsInCart[0].ProductAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductsInCart[0].TotalPrice)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var productInCart in Model.ProductsInCart)
                    {
                        <tr>
                            <td>
                                @{
                                    string img_path = productInCart.Product.ImagePath == null ? "/image/no_image.jpg" : "/image/" + productInCart.Product.ImagePath;
                                }

                                <img src="@Url.Content(img_path)" style="max-height: 75px; max-width: 75px; height: auto; width: auto;" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => productInCart.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => productInCart.Product.Price) zł
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => productInCart.ProductAmount)
                                @Html.DisplayFor(modelItem => productInCart.Product.MeasureType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => productInCart.TotalPrice) zł
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div id="right_sizer">
                .
            </div>
            <div id="products_total_cost">
                <span>
                    <b>Łącznie: @Html.DisplayFor(model => model.TotalPrice) zł</b>
                </span>
            </div>

        </div>

        <div id="order_delivery">
            <div class="margin-bottom-5">
                <b>Adres dostawy:</b>
            </div>
            <div id="inner">
                <input type="text" id="delivery_address_box" name="address" placeholder="Ulica i numer mieszkania" required />

                <input type="text" id="delivery_post_code_box" name="address" placeholder="Kod pocztowy" required />
                <input type="text" id="delivery_city_box" name="address" placeholder="Miejscowość" required />

                <input type="text" id="delivery_country_box" name="address" placeholder="Kraj" required />
            </div>
            <div class="margin-bottom-5">
                <b>Typ dostawy:</b>
            </div>
            <div>
                @foreach (var delivery in ViewBag.Delivery)
                {
                    <div>
                        <input type="radio" id="delivery_@delivery.Id" name="delivery_type"
                               value="@delivery.Id" @(delivery.Id == 1 ? "checked" : "")
                               onclick="deliveryChanged(this)">

                        <label for="delivery_@delivery.Id">@delivery.DeliveryTypeName (@delivery.Price zł)</label>
                    </div>
                }

            </div>
        </div>

        <div id="order_payment">
            <div id="inner">
                <div class="margin-bottom-5">
                    <b>Płatność:</b>
                </div>
                @foreach (TypeOfPayment payment in ViewBag.Payment)
                {
                    <div>
                        <input type="radio" id="payment_@((int)payment)" name="payment_type"
                               value="@((int)payment)" @((int)payment == 0 ? "checked" : "")>

                        <label for="payment_@((int)payment)">@Html.DisplayFor(x => payment)</label>
                    </div>
                }

                <div>
                    <b>Produkty: @Html.DisplayFor(model => model.TotalPrice) zł</b>
                </div>
                <div>
                    <b>Dostawa: <span id="delivery_price">@ViewBag.Delivery[0].Price</span> zł</b>
                </div>
                <hr />
                <div class="margin-bottom-5">
                    <b>Łącznie do zapłaty: <span id="total_price">@(((decimal)(ViewBag.Delivery[0].Price) + @Model.TotalPrice).ToString("0.##"))</span> zł</b>
                </div>

                <div>
                    <input type="submit" asp-action="Order" asp-route-cartid="@Model.Id" class="btn btn-success" value="Realizacja zamówienia" />
                </div>
            </div>
        </div>

    </form>
</div>

<script>
    var deliveryPrices = [@ViewBag.Delivery[0].Price, @ViewBag.Delivery[1].Price, @ViewBag.Delivery[2].Price];
    var productsPrice = @Model.TotalPrice;

    var totalPrice = @Model.TotalPrice + deliveryPrices[(0)];
    updateDeliveryPrice(deliveryPrices[0]);
    updateTotalPrice(totalPrice);

    function deliveryChanged(radioButton) {
        var deliveryPrice = deliveryPrices[(radioButton.value - 1)];
        var totalPrice = @Model.TotalPrice + deliveryPrice;
        updateDeliveryPrice(deliveryPrice);
        updateTotalPrice(totalPrice);
    }

    function updateDeliveryPrice(deliveryPrice) {
        document.getElementById("delivery_price").innerHTML = deliveryPrice.toFixed(2);
    }

    function updateTotalPrice(totalPrice) {
        document.getElementById("total_price").innerHTML = totalPrice.toFixed(2);
    }

    setTimeout(function () {
        $('#info_box').fadeOut('slow');
    }, @TempData["msg_time"]);

</script>