@model IEnumerable<E_Spożywczak.Models.Product>

@{
    ViewData["Title"] = "Produkty";

    string category_btn_class = "btn-primary";
    if (@ViewBag.SelectedProductCategory == -1)
        category_btn_class = "btn-outline-primary";
}

<div id="page">
    @if (TempData["msg_text"] != null && TempData["success_msg"] != null)
    {
    <div id="info_box" class="@((bool)TempData["success_msg"] ? "bg-success" : "bg-danger") p-3 mb-2 text-white">
        @TempData["msg_text"]
    </div>
    }

    <form asp-action="Filter" asp-route-categoryid="@ViewBag.SelectedProductCategory">
        <div id="products_top_menu">
            <input type="text" id="products_search_box" name="searchbox" placeholder="Szukaj..." value="@ViewBag.SearchBoxText">
            <select id="products_sort_select" class="form-select" name="sortby" asp-items="@ViewBag.SortByList"> </select>
            <input type="submit" value="Filtruj" class="btn btn-primary" />
        </div>
    </form>

    <div id="products_left_menu">
        <a id="products_category_btn" class="btn @category_btn_class" asp-action="Filter" asp-route-categoryid="-1"
           asp-route-searchbox="@ViewBag.SearchBoxText" asp-route-sortby="@ViewBag.SelectedSortItem">
            Wszystkie
        </a>
        @foreach (var c in ViewBag.ProductCategories)
        {
            category_btn_class = "btn-primary";
            if (@ViewBag.SelectedProductCategory == c.Id)
                category_btn_class = "btn-outline-primary";
            <a id="products_category_btn" class="btn @category_btn_class " asp-action="Filter" asp-route-categoryid="@c.Id"
               asp-route-searchbox="@ViewBag.SearchBoxText" asp-route-sortby="@ViewBag.SelectedSortItem">
                @c.Name
            </a>
        }
    </div>

    <div id="products_list">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImagePath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Availability)
                    </th>
                    <th>
                        Opcje
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => product.Price) zł
                        </td>
                        <td>
                            @{
                                string img_path = product.ImagePath == null ? "/image/no_image.jpg" : "/image/" + product.ImagePath;
                            }

                            <img src="@Url.Content(img_path)" style="max-height: 75px; max-width: 75px; height: auto; width: auto;" />
                        </td>
                        <td>
                            @{ 
                                string av_color = "black";
                                if (product.Availability <= 3)
                                    av_color = "red";
                            }
                            <span style="color:@av_color">
                                @Html.DisplayFor(modelItem => product.Availability) @Html.DisplayFor(modelItem => product.MeasureType)
                            </span>
                        </td>
                        <td>
                            <a asp-controller="Cart" asp-action="AddToCart" asp-route-productid="@product.Id", asp-route-fromhistory="false"
                               asp-route-searchbox="@ViewBag.SearchBoxText" asp-route-sortby="@ViewBag.SelectedSortItem"
                               asp-route-categoryid="@ViewBag.SelectedProductCategory" class="margin-bottom-5 btn @(product.Availability <= 0 ? "btn-secondary disabled" : "btn-success")">Dodaj do koszyka</a>
                            <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-success">Szczegóły</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="float_clear"></div>


</div>

<script>
    setTimeout(function () {
        $('#info_box').fadeOut('slow');
    }, @TempData["msg_time"]); 
</script>